PORT=3000
HOST="0.0.0.0"
MONGODB_URI="mongodb://mongodb:mongodb@localhost:27017/presentation-api?directConnection=true&authSource=admin"
JWT_SECRET="local_secret_token_presentation_api"

# Newrelic será carregado apenas no start ou start:prod
NEW_RELIC_CONFIG_FILENAME="dist/newrelic.js"
NEW_RELIC_APP_NAME="presentation-api"
NEW_RELIC_LICENSE_KEY="licence_key"